<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item button detail="false" href="/app-layout/home">
        Home
      </ion-item>
      <ion-item button detail="false" href="/app-layout/todo">
        Todo
      </ion-item>
      <ion-item button detail="false" href="/app-layout/medication">
        Medication
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>